# define the backup version i.e 0.0.1, 0.0.2, etc 
NEXOAN_DB_BACKUP_VERSION=
# define the choreo environment i.e development, staging or production
NEXOAN_CHOREO_ENVIRONMENT=
# back up repository in github `LDFLK/data-backup` is the default
NEXOAN_GITHUB_BACKUP_REPO=