# config format 1 (default for development)
export CRUD_SERVICE_HOST=localhost
export CRUD_SERVICE_PORT=50051
export UPDATE_SERVICE_HOST=localhost
export UPDATE_SERVICE_PORT=8080

# config format 2 (default for deployment)

export CRUD_SERVICE_URL=http://localhost:50051
export UPDATE_SERVICE_URL=http://localhost:8080