## Copy this file and modify as needed

## Neo4j Backup Configuration

## Backup directory (required)
NEO4J_BACKUP_DIR=
NEO4J_NEW_DATA_DIR=

## Neo4j credentials (optional - defaults to neo4j/neo4j123)
NEO4J_USER=
NEO4J_PASSWORD=

## Container name (optional - defaults to neo4j)
NEO4J_CONTAINER=
NEO4J_CONTAINER_DATA_VOLUME=
NEO4J_DBMS_DIRECTORIES_DATA=

## Postgres

POSTGRES_BACKUP_DIR=

## MongoDB

MONGODB_BACKUP_DIR=



