# MongoDB Configuration
export MONGO_URI="mongodb+srv://your-username:your-password@your-cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourAppName"
export MONGO_DB_NAME=your_mongo_database_name
export MONGO_COLLECTION=your_mongo_collection_name

# PostgreSQL Configuration
export POSTGRES_HOST="your-postgres-host.region.provider.com"
export POSTGRES_PORT=5432
export POSTGRES_USER="your_postgres_username"
export POSTGRES_PASSWORD="your_postgres_password"
export POSTGRES_DB="your_postgres_database"
export POSTGRES_SSL_MODE="require"
# export POSTGRES_TEST_DB_URI="postgresql://username:password@host:port/database?sslmode=require"

# Neo4j Configuration
export NEO4J_URI=neo4j+s://your-neo4j-instance.databases.neo4j.io
export NEO4J_USER=neo4j
export NEO4J_PASSWORD=your_neo4j_password
export NEO4J_DATABASE=neo4j
export AURA_INSTANCEID=your_aura_instance_id
export AURA_INSTANCENAME=your_aura_instance_name

# CRUD Service Configuration
export CRUD_SERVICE_HOST=0.0.0.0
export CRUD_SERVICE_PORT=50051
